body {
  margin-top: 40px;
  padding: 0px;
  text-align: center;
  background-color: black;
}
#myCanvas {
  border: 1px #CCC solid;
  cursor: crosshair;
  background-color: white;
}

#pink {
  background-color: #FF00FF;
  border-radius: 5px;
  border: none;
}
 #cyan {
   background-color: #00FFFF;
   border-radius: 5px;
   border: none;
 }
#orange {
  background-color: #FF8C00;
  border-radius: 5px;
  border: none;
}
#yellow {
  background-color: #FFFF00;
  border-radius: 5px;
  border: none;
}
